@charset "UTF-8";

.footer-widgets.footer.footer-2 {
  color: #7a7a7a;
}

.footer-widgets.footer.footer-2 a {
  color: #7a7a7a;
}

.footer-widgets.footer.footer-2 a:hover {
  color: #f30000;
}

.f-w-400 {
  font-weight: 400 !important;
}

ul.nav.header-nav > li > a {
  font-size: 13px;
  font-weight: 500;
}

.chat_btn {
  margin-top: 15px;
}

.chat_btn a {
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  text-transform: unset;
  margin-top: 0 !important;
  margin-bottom: 0;
}

.error-404 .page-title {
  color: #333;
}

.error-404 .land {
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
  font-weight: 500;
}

.text-white {
  color: white;
}

.box-text {
  font-size: 14px !important;
}

.price-wrapper .price span.product-price-single {
  font-size: 24px;
  color: #f30000;
  margin-right: 10px;
  font-weight: 600;
}

.price-wrapper .price span.product-price-catogory {
  font-size: 14px;
  color: #f30000;
  font-weight: bold;
}

.col-inner:hover .box-hover {
  opacity: 1;
}

.col-inner:hover .price-wrapper {
  opacity: 0;
}

.col-inner .price-wrapper {
  transition: all 0.4s ease-in-out;
}

.col-inner .box-hover {
  position: absolute;
  top: 53px;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-flex;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.col-inner .box-hover .wrap_add_cart {
  transition: all 0.2s ease-in-out;
  background-color: #f2f2f2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-flex;
  display: flex;
}

.col-inner .box-hover .wrap_add_cart a {
  color: #bec2c7;
}

.col-inner .box-hover .wrap_add_cart a:hover {
  color: unset;
}

.col-inner .box-hover .wrap_add_cart:hover {
  background-color: #f30000;
  color: white;
}

.col-inner .box-hover .wrap_add_cart:hover a {
  color: white;
}

.title-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-wrapper .name.product-title {
  margin-bottom: 15px;
}

.title-wrapper .name.product-title a {
  width: 100%;
}

#shop-sidebar > aside {
  border: 1px solid #ebebeb;
  padding: 10px;
}

#shop-sidebar > aside .is-divider {
  display: none;
}

span.widget-title.shop-sidebar {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.widget > ul > li + li {
  border-top: none !important;
}

.product-info h1.title-single-product {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.note-promo {
  background: #fafafa;
  border-radius: 3px 3px 3px 3px !important;
  padding: 10px 5px;
  line-height: 20px;
  border: 1px solid #dbdbdb;
  text-align: justify;
}

.widget.widget_text .is-divider,
.widget.widget_google_map_widget .is-divider {
  display: none;
}

.widget.widget_text .widget-title,
.widget.widget_google_map_widget .widget-title {
  font-size: 14px;
  text-transform: uppercase;
  padding: 40px 0 20px;
  color: #363f4d;
  display: inline-block;
}

.acf-map {
  width: 100%;
  height: 250px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

.acf-map img {
  max-width: inherit !important;
}

#breadcrumbs {
  margin-bottom: 0;
  padding: 10px 0;
}

#breadcrumbs span {
  font-size: 14px;
}

#breadcrumbs .breadcrumb_last {
  color: #f30000;
}

.p-15 {
  padding: 0 15px;
}

h1.title-head {
  font-size: 21px;
  color: #333;
}

h1.title-head-page {
  font-size: 18px;
  color: #333;
}

.tab-panels p {
  font-size: 14px;
}

ul.tabs.wc-tabs.product-tabs.small-nav-collapse.nav.nav-uppercase.nav-line.nav-left > li {
  background-color: #404042;
  padding: 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul.tabs.wc-tabs.product-tabs.small-nav-collapse.nav.nav-uppercase.nav-line.nav-left > li:hover {
  background-color: #f30000;
}

ul.tabs.wc-tabs.product-tabs.small-nav-collapse.nav.nav-uppercase.nav-line.nav-left > li.active {
  background-color: #f30000;
}

ul.tabs.wc-tabs.product-tabs.small-nav-collapse.nav.nav-uppercase.nav-line.nav-left > li a {
  color: white;
  font-size: 13px;
}

ul.tabs.wc-tabs.product-tabs.small-nav-collapse.nav.nav-uppercase.nav-line.nav-left > li a:before {
  opacity: 0;
}

.title-wrapper {
  height: 39px;
  margin-bottom: 15px;
}

.ui-slider-range.ui-widget-header.ui-corner-all,
span.ui-slider-handle {
  background-color: #f30000 !important;
}

.price_slider_amount .price_label {
  color: #f30000;
}

.price_slider_amount > button {
  color: white;
  background-color: #f30000 !important;
}

/* AN CAO */

/* HỖ TRỢ ONLINE */

.header-block {
  width: auto !important;
}

.hide-for-medium .header-nav-main .header-block:first-child {
  left: 10px !important;
}

.vbk-support {
  font-size: 12px;
  padding: 0px;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
}

.vbk-support .support {
  min-width: 190px;
  padding: 0px 10px;
  background: #f3d078;
  border: 1px solid #444 !important;
  font-size: 14px;
  text-align: center;
  color: #444;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}

.vbk-support i {
  font-size: 20px;
  float: left;
  color: #464646;
  margin: 5px 0;
}

.support .help {
  left: 0px;
  top: -3px;
}

.vbk-support #contact-infomation-store-load {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: none;
  background: #fff;
  z-index: 9999;
  width: 390px;
  position: absolute;
  top: 40px;
  margin: 0 auto;
  box-shadow: 0px 5px 5px #ccc;
  text-align: left;
  line-height: 18px;
}

.vbk-support #contact-infomation-store-load i.icon-bottom {
  border: none;
  height: 10px;
  margin-top: -24px;
  margin-left: 60px;
  position: absolute;
  color: #ccc;
}

.vbk-support #contact-infomation-store-load .hotline {
  font-size: 15px;
  padding: 5px 0;
  color: #d90000;
  font-weight: bold;
}

.vbk-support #contact-infomation-store-load strong {
  font-size: 14px;
}

.vbk-support strong {
  color: #FF9600;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.vbk-support #contact-infomation-store-load .add-item {
  line-height: 20px;
}

.vbk-support #contact-infomation-store-load .list {
  margin-top: 8px;
}

.vbk-support #contact-infomation-store-load h4 {
  padding: 5px 0;
  margin: 5px 0;
  color: #00abd3;
  font-size: 15px;
  /* border-bottom: 1px solid #f1f1f1; */
}

.vbk-support #contact-infomation-store-load .add-item p {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.vbk-support #contact-infomation-store-load .add-item i {
  border: none;
  font-size: 14px;
}

.vbk-support .open-show-support-online {
  display: block !important;
}


/*# sourceMappingURL=app.css.map*/