$main_color: #f30000;
body {
    font-family: futuraregular, Helvetica, Arial, sans-serif !important;
}

.f-w-400 {
    font-weight: 400!important;
}

// @font-face {
//     font-family: 'SFUFuturaLight';
//     src: url("futuralight.ttf")
// }
// @font-face {
//     font-family: 'SFUFuturaBook';
//     src: url("futurabook.ttf")
// }
// @font-face {
//     font-family: 'SFUFuturaHeavy';
//     src: url("futuraheavy.ttf")
// }
// @font-face {
//     font-family: 'SFUFuturaExtraBold';
//     src: url("futuraextrabold.ttf")
// }
//css text for nav top menu
ul.nav.header-nav {
    >li>a {
        font-family: 'SFUFuturaBold';
        font-size: 13px;
        font-weight: 500;
    }
}

// button chat content product
.chat_btn {
    margin-top: 15px;
    a {
        color: #fff;
        border-radius: 10px;
        font-size: 12px;
        text-transform: unset;
        margin-top: 0!important;
        margin-bottom: 0;
    }
}

// text page 404
.error-404 {
    .page-title {
        color: #333;
    }
    .land {
        color: #888;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    font-family: futuraregular, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.text-white {
    color: white;
}

// box text content prosuct
.box-text {
    font-size: 14px!important;
}

.price-wrapper {
    .price span.product-price-single {
        font-size: 24px;
        color: #f30000;
        margin-right: 10px;
        font-weight: 600;
    }
    .price span.product-price-catogory {
        font-size: 14px;
        color: #f30000;
        font-family: SFUFUturaBook;
        font-weight: bold;
    }
}

// box add to cart hover
.col-inner {
    &:hover {
        .box-hover {
            opacity: 1;
        }
        .price-wrapper {
            opacity: 0;
        }
    }
    .price-wrapper {
        transition: all 0.4s ease-in-out;
    }
    .box-hover {
        position: absolute;
        top: 53px;
        right: 0;
        left: 0;
        opacity: 0;
        justify-content: center;
        display: flex;
        transition: all 0.4s ease-in-out;
        .wrap_add_cart {
            transition: all 0.2s ease-in-out;
            background-color: hsl(0, 0%, 95%);
            a {
                color: #bec2c7;
            }
            height: 40px;
            width: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            a:hover {
                color: unset;
            }
            &:hover {
                a {
                    color: white;
                }
                background-color: $main_color;
                color: white;
            }
        }
    }
}

.title-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    .name.product-title {
        margin-bottom: 15px;
        a {
            width: 100%;
        }
    }
}

// slide bar category product
#shop-sidebar {
    >aside {
        border: 1px solid #ebebeb;
        padding: 10px;
        .is-divider {
            display: none;
        }
    }
}

span.widget-title.shop-sidebar {
    font-family: SFUFuturaBold;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.widget>ul>li+li {
    border-top: none!important;
}

.product-info {
    h1.title-single-product {
        font-family: SFUFuturaBold;
        font-size: 24px;
        font-weight: 700;
        color: black;
    }
}

// block link content product
.note-promo {
    background: #fafafa;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    padding: 10px 5px;
    line-height: 20px;
    border: 1px solid #dbdbdb;
    text-align: justify;
}

// widget footer
.widget.widget_text,
.widget.widget_google_map_widget {
    .is-divider {
        display: none;
    }
    .widget-title {
        font-size: 14px;
        text-transform: uppercase;
        padding: 40px 0 20px;
        color: #363f4d;
        display: inline-block;
        font-family: SFUFuturaBold;
    }
}

.acf-map {
    width: 100%;
    height: 250px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

.acf-map img {
    max-width: inherit !important;
}

// breakcrumb
#breadcrumbs {
    margin-bottom: 0;
    padding: 10px 0;
    span {
        font-size: 14px;
    }
    .breadcrumb_last {
        color: $main_color;
    }
}

.p-15 {
    padding: 0 15px;
}

h1.title-head {
    font-size: 21px;
    color: #333;
    font-family: SFUFuturaBold;
}

h1.title-head-page {
    font-size: 18px;
    color: #333;
    font-family: SFUFuturaBold;
}

@import "./footer";